@font-face {
    font-family: 'Gen Jyuu GothicX';
    src: url('fonts/GenJyuuGothicX-Bold.woff2') format('woff2'),
        url('fonts/GenJyuuGothicX-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gen Jyuu GothicX';
    src: url('fonts/GenJyuuGothicX-Regular.woff2') format('woff2'),
        url('fonts/GenJyuuGothicX-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
	background-color: rgb(200, 250, 240);
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Gen Jyuu GothicX', sans-serif;
	font-weight: bold;
    font-style: normal;
    font-display: swap;
	line-height: 1.5;
}
p, a, input, label, textarea, span, ul, li{
	font-family: 'Gen Jyuu GothicX', sans-serif;
	font-weight: normal;
    font-style: normal;
    font-display: swap;
	line-height: 1.5;
}
p.cen{
	text-align: center;
}
.jumbotron{
	margin-top: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	padding-top: 0px;
 	padding-right: 0px;
 	padding-left: 0px;
 	padding-bottom: 0px;
}
.btn{
	background-color: lightblue;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}
#navbar{
	background-color: darkcyan;
	width: 100vw;
	margin-top: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
 	padding-top: 0px;
 	padding-right: 0px;
 	padding-left: 0px;
 	padding-bottom: 0px;
    position: fixed;
    top: 0;
    z-index: 99;
}
.nav-item dropdown:hover{
	background-color: aqua;
}

#intro .jumbotron{
	width: 100vw;
	height: 80vh;
	background-image: url('img/group.png');
  	background-repeat: no-repeat;
  	background-position: center;
 	background-attachment: fixed;  
 	background-size: cover;
}
#img1{
	display: block;
	max-width: 80vw;
	max-height: 40vh;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
#img2{
	display: block;
	max-width: 50vw;
	max-height: 20vh;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
header nav img{
	width: 70px;
	border-radius: 100%
}
header li{
	margin: 0 10px;	
}
img{
	max-width: 100%;
    vertical-align: top;
}
.box{
    height: 95px;
}
h1{
	font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
	font-size: 20px;
}
p{
	text-align: justify;
	text-justify: inter-word;
}
#activity h1{
	font-size: 30px;
}
#activity img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
#end .jumbotron{
	background-color: darkcyan;
	color: white;
}
.content{
	width: 80%;
	margin: auto;
	padding: 20px 0px;
}
.col-md-5{
	padding: 20px;
}
.col-md-6{
    padding: 20px;
}
.agenda{
    text-align: center;
	margin: auto;
	margin-bottom: 20px;
    width: 95%;
}
.normal{
    text-align: center;
	margin: auto;
    margin-bottom: 20px;
    width: 80%;
}
